@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-pale-amber: #ffc61e;
  --color-pale-slate: #cdd1de;
  --color-azure-blue: #004c97;
  --color-onyx: #121619;
  --color-sweet-peony: #e56399;
}

:root {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
}
